
@font-face {
  font-family: 'iconfont';  /* project id 703518 */
  src: url('//at.alicdn.com/t/font_703518_hkdf2p8zzb.eot');
  src: url('//at.alicdn.com/t/font_703518_hkdf2p8zzb.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_703518_hkdf2p8zzb.woff') format('woff'),
  url('//at.alicdn.com/t/font_703518_hkdf2p8zzb.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_703518_hkdf2p8zzb.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-msnui-triangle-down:before { content: "\e65e"; }

.icon-fanhui:before { content: "\e624"; }

.icon-sousuo:before { content: "\e632"; }

